extends layout

block pageTitle
	title #{title}

block content
	marquee(behavior='scroll')
		h4 Welcome To Dashboard
	.home-stats
		.container
			.row
				.col-md-3
					.stat.st-members
						i.glyphicon.glyphicon-th-list
						.info
							| Total Products
							span
								a(href='#') 123
				.col-md-3
					.stat.st-pending
						i.glyphicon.glyphicon-list-alt
						.info
							| Total Categories
							span
								a(href='#') 123
				.col-md-3
					.stat.st-items
						i.glyphicon.glyphicon-user
						.info
							| Total Admins
							span
								a(href='#') 123
				.col-md-3
					.stat.st-comments
						i.glyphicon.glyphicon-new-window
						.info
							| Total Jobs
							span
								a(href='#') 123
