extends layout

block pageTitle
	title Register

block content
	.page-wrapper.bg-gra-01.p-t-180.p-b-100.font-poppins
		.wrapper.wrapper--w780
			.card.card-3
				.card-heading
				.card-body
					h2.title Registration Info
					form(method='POST', action='/users/register')
						.input-group
							input.input--style-3(type='text', placeholder='First Name', name='fname', autocomplete='off')
						.input-group
							input.input--style-3(type='text', placeholder='Last Name', name='lname', autocomplete='off')
						.input-group
							input.input--style-3(type='email', placeholder='Email', name='email', autocomplete='off')
						.input-group
							input.input--style-3(type='text', placeholder='Username', name='username', autocomplete='off')
						.input-group
							input.input--style-3(type='password', placeholder='Password', name='password', autocomplete='off')
						.input-group
							input.input--style-3(type='password', placeholder='Password Confirmation', name='password2', autocomplete='off')
						.input-group
							input.input--style-3(type='text', placeholder='Address', name='address', autocomplete='off')
						.input-group
							input.input--style-3(type='number', placeholder='Phone', name='phone', autocomplete='off')

						.p-t-10
							button.btn.btn--pill.btn--green(type='submit') Register